.marketing-form {
    display: flex;
    flex-direction: column;
    counter-reset: section;
    max-width: 20vw;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.marketing-form.marketing-form--fetched {
    opacity: 1;
}

.marketing-form .marketing-form__title {
    font-family: Shnobel, Helvetica Neue, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 3vw;
    font-weight: 300;
    text-align: center;
}
