.app__logo {
    position: absolute;
    top: 1.9em;
    left: 1.9em;
    width: 8.6em;
    z-index: 110;
}

@media (max-width: 480px) {
    .app__logo {
        bottom: 0;
        left: initial;
        top: initial;
        width: 50vw;
        bottom: 5vh;
        transform: translateX(-50%);
        margin: auto;
    }
}
